.control {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    margin: 10px auto;
    list-style: none;
  }

.tasks-block {
    width: 97%;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding: 0;
    margin: 10px auto;
    list-style: none;
  }
  
  .list-item {
    background: rgba(29, 71, 155, 0.31);
    margin: 0.8%;
    padding: 0.7%;
    flex-basis: 23.4%;
    flex-grow: 0;
    opacity:0;
    transition: 0.5s;
    animation: show 0.3s 1;
    animation-fill-mode: forwards;
    animation-delay: 0.1s;
  }

  @keyframes show{
    0%{
    opacity:0;
    }
    30% {
    opacity:0.3;
    }
    50% {
     opacity:0.5;
     }
    100% {
    opacity:1;
    }
    }

  .add {
    color: #fff;
    padding: 10px 90px;
    font-size: 25px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
  }


  .field {
    padding: 18px;
    width: 300px;
}
